*,
*::before,
*::after {
    margin: 0;
    font-weight: normal;
}

body {
    background-color: #1E1E2E;
    color: var(--ctp-macchiato-text);
    transition:
            color 0.5s,
            background-color 0.5s;
    line-height: 1.6;
    font-family:
            Inter,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif,
            "JetBrains Mono";
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}